# os stuff
/Applications/
/Desktop/
/Downloads/
/Music/
/Pictures/

# sync stuff
/Google Drive/
/Dropbox/
/.dropbox/
/Creative Cloud Files/
/Resilio Sync/

# other dirs
/Source/
/Parallels/
/Virtual Machines/
/VirtualBox VMs/
/.ipfs/
/.asdf/
/.android/
/.docker/
/.datastorage/
/.bash_sessions/
/.configprops/
/.cocoapods/
/.cache/
/.bundle/
/.anydesk/
/.appcenter-cli/

# other files
/.bash_history




# temp
.base16_theme
.config/base16-shell/
.config/configstore/
.config/gatsby/
.config/git/
.config/gtk-2.0/
.config/hub
.config/inkscape/
.config/kitty/
.config/nvim
.config/nvim_back
.config/oni/
.config/rclone/
.config/sanity/
.config/thefuck/
.config/yabai/
.config/yarn/
.emacs.d/
.expo/
.fastlane/
.flickrc
.gem/
.gemrc
.gitattributes
.gitlab-runner/
.gnupg/
.gnupg_pre_2.1/
.gradle/
.hammerspoon/
.hushlogin
.hyper.js
.hyper_plugins/
.ipfs-desktop/
.itmstransporter/
.lesshst
.littlstream/
.local/
.m2/
.mackup.cfg
.mackup/
.ngrok/
.nix-channels
.nix-defexpr/
.nix-profile
.node-gyp/
.node-red/
.node_path
.node_repl_history
.nodenv/
.npm/
.npmrc
.nvm/
.oracle_jre_usage/
.react-native-cli/
.rncache/
.rndebuggerrc
.rub
.rubies/
.skhdrc
.spacemacs
.spacemacs.env
.ssh/
.stack/
.subversion/
.vim
.viminfo
.vimrc_background
.vnc/
.volt/
.vscode-cpptools/
.vscode/
.yarnrc
.zcompdump
.zhistory
.zshrc_private
Brewfile
Documents/
Library/
Movies/
Public/
Virtual Machines.localized/
scripts/
