# os stuff
/Applications/
/Desktop/
/Downloads/
/Documents/
/Public/
/Movies/
/Music/
/Pictures/

# sync stuff
/Google Drive/
/Dropbox/
/.dropbox/
/Creative Cloud Files/
/Resilio Sync/

# other dirs
/Source/
/Parallels/
/Virtual Machines/
/VirtualBox VMs/
/.ipfs/
/.asdf/
/.android/
/.docker/
/.datastorage/
/.bash_sessions/
/.configprops/
/.cocoapods/
/.cache/
/.bundle/
/.anydesk/
/.appcenter-cli/
/.rncache/
/.vscode-cpptools/
/.vscode/
/.gradle/
/.littlstream/
/.local/
/.m2/
/.expo/
/.fastlane/
/.gem/
/.node-gyp/

# other files
/.bash_history
/.zcompdump
/.zhistory



# temp
.base16_theme
.config/base16-shell/
.config/configstore/
.config/gatsby/
.node-red/
.node_repl_history
.npm/
.npmrc
.nvm/
.oracle_jre_usage/
.react-native-cli/
.zshrc_private
Library/
Virtual Machines.localized/
scripts/
