# os stuff
/Applications/
/Desktop/
/Downloads/
/Documents/
/Public/
/Movies/
/Music/
/Pictures/

# sync stuff
/Google Drive/
/Dropbox/
/.dropbox/
/Creative Cloud Files/
/Resilio Sync/

# other dirs
/Source/
/Parallels/
/Virtual Machines/
/VirtualBox VMs/
/.ipfs/
/.asdf/
/.android/
/.docker/
/.datastorage/
/.bash_sessions/
/.configprops/
/.cocoapods/
/.bundle/
/.anydesk/
/.appcenter-cli/
/.rncache/
/.vscode-cpptools/
/.vscode/
/.gradle/
/.littlstream/
/.local/
/.m2/
/.expo/
/.fastlane/
/.gem/
/.node-gyp/
/.npm/
/Virtual Machines.localized/
/.oracle_jre_usage/
/.react-native-cli/
/.flipper/
/.cups/
/.pm2/

# other files
/.bash_history
/.zcompdump
/.zhistory
/.node_repl_history

# cache stuff
cache
.cache
Cache*
Caches

# library stuff
/Library/Accessibility/
/Library/Accounts/
/Library/Android/

# app support
/Library/Application Support/0ad/logs
/Library/Application Support/Detox
/Library/Application Support/Xcode/Archives
/Library/Application Support/Xcode/DerivedData
/Library/Application Support/Xcode/Products
/Library/Application Support/Dictionaries
/Library/Application Support/Dropbox
/Library/Application Support/iTunes
/Library/Application Support/studentd
/Library/Application Support/Google
/Library/Application Support/Internet Plug-Ins
/Library/Application Support/Keyboard
/Library/Application Support/KeyboardServices
/Library/Application Support/Keychains
/Library/Application Support/LanguageModeling
/Library/Application Support/Logs
/Library/Application Support/MediaStream
/Library/Application Support/Personas
/Library/Application Support/Python
/Library/Application Support/Quicklook
/Library/Application Support/Reminders
/Library/Application Support/Saved Application State
/Library/Application Support/Spelling
/Library/Application Support/VirtualBox
/Library/Application Support/WebKit
/Library/Application Support/Widgets
/Library/Application Support/com.apple.internal.ck

# VS Code
/Library/Application Support/Code/
!/Library/Application Support/Code/User/settings.json

# temp
/Library/
# !/Library/Application Support/
/Library/.localized
/Library/Assistant/
/Library/Calendars/
/Library/Colors/
/Library/Compositions/
/Library/Containers/
/Library/CoreFollowUp/
/Library/DES/
/Library/Detox/
/Library/Developer/CoreSimulator/
/Library/Developer/XCTestDevices/
/Library/Developer/Xcode/DerivedData/
/Library/Developer/Xcode/Products/
/Library/Developer/Xcode/UserData/IB Support/
/Library/Developer/Xcode/UserData/IDEEditorInteractivityHistory
/Library/Developer/Xcode/UserData/IDEFindNavigatorScopes.plist
/Library/Developer/Xcode/UserData/IDELibraryWindowController.xcuserstate
/Library/Developer/Xcode/UserData/IDEPreferencesController.xcuserstate
/Library/Developer/Xcode/UserData/KeyBindings
/Library/Developer/Xcode/UserData/Portal/
/Library/Developer/Xcode/iOS Device Logs/
/Library/Developer/Xcode/iOS DeviceSupport/
/Library/Dictionaries/
/Library/Dropbox/
/Library/Family/
/Library/Favorites/
/Library/FileProvider/
/Library/FontCollections/
/Library/Fonts/
/Library/FrontBoard/
/Library/Google/
/Library/Group Containers/
/Library/Input Methods/
/Library/Keyboard/
/Library/KeyboardServices/
/Library/Keychains/
/Library/LanguageModeling/
/Library/LaunchAgents/
/Library/Logs/
/Library/MediaStream/
/Library/Mobile Documents/
/Library/MobileDevice/
/Library/PDF Services
/Library/Passes/
/Library/Preferences/
/Library/Printers/
/Library/PubSub/
/Library/Quicklook
/Library/Reminders/
/Library/RescueTime.com/
/Library/Saved Application State/
/Library/Screen Savers/
/Library/Scripts
/Library/Services
/Library/Speech/
/Library/Spelling/
/Library/SyncedPreferences/
/Library/VirtualBox/
/Library/WebKit/
/Library/Workflows
/Library/com.apple.icloud.searchpartyd/
